@using SieuThiSach.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<NHAXUATBAN>

@{
    ViewBag.Title = "Quản lý nhà xuất bản";
    Layout = "~/Areas/Admin/Views/LayoutAD/Admin_Layout.cshtml";
}

<h2>Quản lý nhà xuất bản</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DiachiNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DienthoaiNXB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiachiNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienthoaiNXB)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @manxb =item.MaNXB  }) |
            @Html.ActionLink("Hiển thị", "HienThi", new { @manxb = item.MaNXB }) |
            @Html.ActionLink("Xóa", "Xoa", new { @manxb = item.MaNXB })
        </td>
    </tr>
}

</table>
@*tạo số trang*@
Trang @(Model.Count < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div id="MenuTrang">
    @Html.PagedListPager(Model, pag => Url.Action("Index", new { @page = pag }))
</div>
<style>
    #MenuTrang li {
        display: inline;
        padding: 0 1%;
    }
</style>